.contact {
	font-family: var(--font-accent);

	& .container {
		display: grid;
		grid-template-columns: 2fr 1fr 1fr 4fr;
	}

	&__title__container {
		display: grid;
		grid-column: 1 / -1;
		grid-template-columns: 2fr 1fr 1fr 4fr;
		margin-bottom: 40px;

		@include mobile {
			grid-template-columns: 1fr;
			margin-bottom: 20px;
		}
	}

	&__subtitle {
		grid-column: 1;

		font-weight: 500;
		font-size: 16px;
		line-height: 100%;
		letter-spacing: -0.04em;
		text-transform: uppercase;
		color: rgba(255, 177, 22, 0.8);

		@include mobile {
			font-size: 12px;
			margin-bottom: 10px;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 45px;
		line-height: 110%;
		letter-spacing: -0.04em;
		text-transform: uppercase;
		color: #ffb116;

		&_wrapper {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			grid-column: 2 / -1;

			@include mobile {
				display: block;
				grid-column: 1;
				grid-row: 2;
			}
		}

		&-top {
			grid-column: 1 / -1;

			@include mobile {
				display: inline;
				grid-column: 1;
				font-size: 20px;
				width: 100%;
			}
		}

		&-bottom {
			grid-column: 2 / -1;

			@include mobile {
				grid-column: 1;
				font-size: 20px;
				display: inline;
				width: 100%;
			}
		}
	}

	&__form {
		grid-column: 3 / -1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		font-weight: 400;
		width: 100%;
		max-width: 564px;
		font-size: 16px;
		line-height: 110%;
		letter-spacing: -0.04em;
		color: rgba(255, 177, 22, 0.8);
		margin-bottom: 40px;

		& input {
			width: 100%;
			padding: 12px 20px;
			border: 1px solid rgba(255, 177, 22, 0.2);
			outline: none;

			&::placeholder {
				font-weight: 400;
				font-size: 16px;
				line-height: 110%;
				letter-spacing: -0.04em;
				color: rgba(255, 177, 22, 0.6);
			}

			@include mobile {
				padding: 12px 10px;
			}

		}

		@include mobile {
			font-size: 14px;
			max-width: 100%;
		}

		& textarea {
			width: 100%;
			resize: none;
			padding: 12px 20px;
			height: 88px;
			border: 1px solid rgba(255, 177, 22, 0.2);
			outline: none;

			&::placeholder {
				font-weight: 400;
				font-size: 16px;
				line-height: 110%;
				letter-spacing: -0.04em;
				color: rgba(255, 177, 22, 0.6);
			}

			@include mobile {
				font-size: 14px;
				padding: 12px 10px;
			}
		}

		&__text {
			font-weight: 400;
			font-size: 14px;
			line-height: 100%;
			letter-spacing: -0.04em;
			color: rgba(255, 177, 22, 0.5);

			& a {
				color: rgba(255, 177, 22, 0.5);
				cursor: pointer;

				&:hover {
					color: rgba(255, 177, 22, 0.8);
					text-decoration: underline;
				}
			}

			@include mobile {
				font-size: 12px;
			}
		}

		&__btn {
			margin-top: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			height: 40px;
			transition: all 0.2s ease-in;

			font-weight: 500;
			font-size: 16px;
			line-height: 100%;
			letter-spacing: -0.04em;
			text-transform: uppercase;
			color: var(--text-color);
			background-color: var(--accent-dark);

			&:hover {
				background-color: var(--accent);
				color: var(--text-color-dark);
			}

			@include mobile {
				margin-top: 10px;
			}
		}

		.icon__bracket {
			width: 5px;
			height: 100%;
			border-top: 2px solid var(--accent);
			border-left: 2px solid var(--accent);
			border-bottom: 2px solid var(--accent);

			&-right {
				transform: rotate(180deg);
			}
		}

		@include mobile {
			grid-column: 1 / -1;
			font-size: 16px;
			margin-bottom: 20px;
		}
	}

	.mobileHide {
		display: none;

		@include mobile {
			display: block;
		}
	}
}