.hero {
	position: relative;

	.container {
		padding: 130px 160px;
		border-radius: 500px;
		background-color: var(--accent-dark);
	}

	&__title {
		font-family: var(--font-second);
		width: 100%;
		font-weight: 500;
		font-size: 120px;
		line-height: 100%;
		letter-spacing: -0.04em;
		text-transform: uppercase;
		color: var(--text-color);
		margin: 0 auto;
		text-align: center;
	}

	&__subtitle {
		font-family: var(--font-accent);
		font-weight: 500;
		font-size: 18px;
		line-height: 110%;
		letter-spacing: -0.04em;
		text-align: center;
		color: rgba(244, 248, 249, 0.8);
		max-width: 238px;
		margin: 35px auto;
	}

	@include mobile {
		&__title {
			font-size: 60px;
			margin-bottom: 5px;
		}

		&__subtitle {
			font-size: 16px;
			margin-bottom: 50px;
		}
	}

	.nav__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		font-weight: 500;
		font-size: 16px;
		line-height: 100%;
		letter-spacing: -0.04em;
		text-transform: uppercase;
		height: 40px;
		color: var(--accent-dark);
		background-color: var(--accent);
		padding: 0;
		margin: 0 auto;

		width: 300px;
		border: 1px solid var(--accent);
		border-radius: 100px;

		&::before,
		&::after {
			display: none;
		}

		&-text {
			padding: 5px 10px;
			color: var(--accent-dark);
		}

		&:hover {
			background-color: var(--page-bg);
		}

		@include tablet {
			display: none;
		}
	}

	.mobileHide {
		display: none;

		@include mobile {
			display: block;
		}
	}
}