// .header__nav {}

.nav {
	font-size: 18px;
}

.nav__list {
	display: flex;
	column-gap: 10px;
}

.nav__link {
	transition: all 0.2s ease-in;

	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: -0.04em;
	color: var(--text-color-dark);
	padding: 5px;

	&:hover {
		color: var(--accent);
		background-color: var(--accent-dark);
	}
}

.nav__btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: -0.04em;
	text-transform: uppercase;
	height: 25px;
	color: var(--accent-dark);
	padding: 0;
	margin-left: 30px;

	&-text {
		padding: 5px 10px;
	}

	&:hover {
		background-color: var(--accent-dark);
	}
}

.icon__bracket {
	width: 5px;
	height: 100%;
	border-top: 2px solid var(--accent-dark);
	border-left: 2px solid var(--accent-dark);
	border-bottom: 2px solid var(--accent-dark);

	&-right {
		transform: rotate(180deg);
	}
}

.no-scroll .nav__link {
	font-size: 16px;
	max-width: 150px;
	margin: 0 auto;

	&:hover {
		background-color: var(--accent);
		color: var(--accent-dark);
	}
}

.no-scroll .nav__btn {
	font-size: 16px;
	max-width: 150px;
	margin: 0 auto;
	height: 40px;

	&:hover {
		background-color: var(--accent);
	}
}

.no-scroll .icon__bracket {
	width: 5px;
	height: 100%;
	border-top: 2px solid var(--accent);
	border-left: 2px solid var(--accent);
	border-bottom: 2px solid var(--accent);

	&-right {
		transform: rotate(180deg);
	}
}

// .active {}